Assets\CollectionGame_Assets
Library
Logs
ProjectSettings
Temp/UnityLockfile
Temp/FSTimeGet-69ae1164101f94a4daf09c161dca04b1
Temp/FSTimeGet-8f747e8a580cd5644991a7255f3c5baf
Temp/FSTimeGet-cf61b91e2e15e7d4b9d7875bcae71701
Temp/UnityLockfile
Temp/UnityLockfile
Temp/UnityLockfile
.vsconfig
Library/EditorInstance.json
Library/expandedItems
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-d0fc53d8b3b6a0a4296e9c61d7343c04
Temp/FSTimeGet-d62e2c638f3265f44b1b1c86ac8fe61c
Temp/UnityLockfile
Temp/workerlic
UserSettings/Layouts/default-2022.dwlt
